*{
    margin:0;
    padding:0;
}
#left-side{
    width: calc(50% - 20px);
    float:left;
    padding:10px;
}
#right-side{
    width: calc(50% - 20px);
    background-color: blue;
    float:left;
    padding:10px;

}
#insWord{
    text-align:right;
    width: 344px;
    border:1px solid gray;
    outline: none;
    padding:3px;
    border-radius: 3px;
}
#insWord:focus{
    text-align:right;
    width: 344px;
    border:1px solid black;
    outline: none;
    padding:3px;
    border-radius: 3px;
}
#sendWord{
    margin-bottom:5px;
    margin-left:5px;
    border-radius: 2px;
    border:1px solid gray;
    outline: none;
    background-color: white;
    padding:  3px;
}
#sendWord:hover{
    border-radius: 2px;
    cursor: pointer;
    border:1px solid rgb(109, 109, 109);
    outline: none;
    background-color: rgb(240, 240, 240);
    padding:  3px;
}
#sendWord:active{
    border-radius: 2px;
    border:1px solid grey;
    outline: none;
    background-color: white;
    padding:  3px;
}

/* - - - - - - - - - - - - */

.textarea-score{
    float: left;
}
.insword-buttons{
    float: left;
}
.textarea{
    float: left;
}
    #insertedWordList{
        text-align:right; 
        width:350px; 
        height:300px;
        resize:none;
    }
.score{
    float:left;
}
.insWord{
    float:left;
}
.buttons{
    float:left;
}

.score-wrapper{
    float:left;
    height: 300px;
    width:100px;
    position: relative;

}
.score{
    margin-left:5px;
    float:left;
    position: absolute;
    bottom: 0;
    left: 0;
}
#info{
    text-align: right;
}














