*{
    margin:0;
    padding:0;
}
#left-side{
    width: calc(50% - 20px);
    float:left;
    padding:10px;
}
#right-side{
    width: calc(50% - 20px);
    background-color: blue;
    float:left;
    padding:10px;

}
#insWord{
    text-align:right;
    width: 344px;
    border:1px solid gray;
    outline: none;
    padding:3px;
    border-radius: 3px;
}
#insWord:focus{
    text-align:right;
    width: 344px;
    border:1px solid black;
    outline: none;
    padding:3px;
    border-radius: 3px;
}
#sendWord{
    border-radius: 2px;
    border:1px solid gray;
    outline: none;
    background-color: white;
    padding:  3px;
}
#sendWord:hover{
    border-radius: 2px;
    cursor: pointer;
    border:1px solid rgb(109, 109, 109);
    outline: none;
    background-color: rgb(240, 240, 240);
    padding:  3px;
}
#sendWord:active{
    border-radius: 2px;
    border:1px solid grey;
    outline: none;
    background-color: white;
    padding:  3px;
}